{block #content}
	<div class="detail">
		<h2>Nový záznam</h2>
		{include '_top.latte'}

			<fieldset>

				<div class="form_center">

					{control entryForm}

				</div>

			</fieldset>

	</div>
{/block}