{block #content}
	<div class="page-title">
		<h4>{$moduleName}: {$listAllHeading|noescape}</h4>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<div class="col-md-12">
						{include "_top.latte"}
					</div>
				</div>
			</div>
		</div>
		<div n:if="$presenter->isLinkCurrent('default') && $filterEnabled == true" class="col-md-12">
			<div class="card">
				<div class="card-block">
					<div class="card-title">
						<h3>Filtrace</h3>
					</div>
					<div class="filter cf" style="">
						{control filterForm}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-block">
					<div class="table-overflow">
						{if $results && count($results)}
							<table id="dt-opt" data-url="{plink reorderItems}" data-id="0" class="table table-lg table-hover{if $sortable} js-reorder{/if}">
								<thead>
								<tr>
									{*<th></th>*}
									{if $displayId}
										<th>ID / order</th>
									{/if}
									{foreach $fields as $name => $field}
										{continueIf $field["in_list"] != true}
										<th>{$field["label"]}</th>
									{/foreach}
									<th n:if="!$submodule && $submodules" colspan="{count($submodules)}">Action</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr n:foreach="$results as $result" id="{$result->id}">
									{*<td>
										<div class="checkbox mrg-left-20">
											<input id="task10" name="task10" type="checkbox">
											<label for="task10"></label>
										</div>
									</td>*}
									{if $displayId}
										<td class="first"{if $sortable} style="cursor: move;" {/if}>{if $sortable}{$result->order}{else}{$result->id}{/if}</td>
									{/if}
									{foreach $fields as $name => $field}
										{continueIf $field["in_list"] != true}
										<td>{if $field["type"] != "select" && $field["type"] != "list_only" && $field["type"] != "upload"}{$result->{$name}}{elseif $field["type"] == "list_only"}{$presenter->{$field["value_provider"]}($result)|noescape}{elseif $field["type"] == "upload"}{$presenter->getThumbnailOrLink($result->file_id)|noescape}{else}{$presenter->getSelectFieldValue($result->{$name}, $field)}{/if}</td>
									{/foreach}
									{if $submodules && count($submodules) > 0 && !$submodule}
										<td n:foreach="$submodules as $module">
											<a n:href="submoduleView 'submodule' => $module['table'], 'parent_id' => $result->id">{$module['name']}</a>
										</td>
									{/if}
									<td>
										<div class="mrg-top-10 text-center">
											<a n:if="$enableDeletes === true" onclick="return confirm('Do you really want to delete this item?');" class="btn btn-icon btn-flat btn-rounded dropdown-toggle" n:href="delete $result->id"><i
														class="fa fa-trash"></i></a>
												<a n:href="update $result->id"
														class="btn btn-icon btn-flat btn-rounded dropdown-toggle">
													<i class="ti-more-alt"></i>
												</a>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						{else}
							<p>Nothing found..</p>
						{/if}
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}